@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    vertical-align: baseline;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(194, 194, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

nav {
    min-width: 100%;
    margin-bottom: 5rem;
}

.container {
    background-color: rgb(183, 255, 205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.container h1 {
    margin-left: 6rem;
}

.logo {
    font-size: 3rem;
    margin-left: 3rem;
    cursor: pointer;
}

.links a {
    margin: 0 1rem;
    text-decoration: none;
    cursor: pointer;
}

.links a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.box {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.8s ease;
}

.box:nth-of-type(even) {
    background-color: green;
    transform: translateX(-400%);
}

.box:nth-of-type(3n) {
    background-color: red;
}

.box:nth-of-type(7n) {
    background-color: purple;
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 2rem;
}